#certificates {
  @include center();
  width: 92%;
  height: 90%;
  background-color: var(--primary);
  position: absolute;
  border-radius: $radius;
  border: 2px solid var(--shadow);
}

.certificates {
  height: 100%;
  width: 100%;
  @include flex(row, center, space-evenly);  
  flex-wrap: wrap;  
  padding: 0;
  margin: 0;
}

.certificate {
  max-width: 320px;
  list-style-type: none;
  transform: scale(1);
  transition: transform 0.3s;
  flex: 30%;
  border: 4mm ridge #6b4b38;
  overflow: hidden;
  cursor: zoom-in;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, rgba(131, 168, 183, 0.4), rgba(0, 0, 0, 0));
    position: absolute;
  }

  &::after {
    content: "";
    height: 150%;
    width: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.6s;
    left: -120px;
    top: -50px;
  }
  
  &:hover {
    transform: scale(1.05);
    &:after {
      transform: translateX(500px) rotate(20deg);
    }
  }

  img {
    height: 100%;
    width: 100%;   
    margin-bottom: -4px;
  }
}

.zoom {
  scale: 2.7;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

@media (max-width: 1200px ) {
  .certificate {
    margin: 10px;
    max-width: 250px;
  }
}

@media (max-width: 766px) {
  .zoom {
    scale: 1.4;
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  
}
