*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include center();
  background-color: $bg-light;
  box-shadow: 10px 10px 17px -5px $text-light;
  margin: 0;
}

.home {
  background: $home-light;
  border-radius: $radius;  
  
  & .box {
    @include flex(row, center, center);
    background: $primary-light;
    border: 2px solid $text-light;
    border-radius: $radius;
    color: $text-light;
    box-shadow: inset 0px 0px 30px 5px $text-light;

    &:first-child {
      border-radius: 50%;
    }

    &:hover {
      background: lighten($primary-light, 3%);
      box-shadow: 0px 0px 15px 5px $text-light;
      cursor: pointer;
    }
  }
}