*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include center();
  background-color: $bg-light;
  margin: 0;
  font-family: $font-text;
  max-height: 100vh;
}

main {
  border-radius: $radius;
  box-shadow: 10px 10px 17px -5px $text-light;
  background-color: $text-light;
  padding: $base-size / 4;
}

.home {
  background: $home-light;
  border-radius: $radius;
}

.container {
  border-radius: $radius;  
}

h1 {
  font-family: $font-header;
  text-transform: uppercase;
}
