#skills {
  @include center();
  width: 92%;
  height: 90%;
  background-color: var(--primary);
  border-radius: $radius;
  border: 2px solid var(--shadow);
  padding: $base-size;
  color: var(--text);  
}

table {
  width: 100%;
  border-collapse:separate;
  border-spacing: 4px 4px;
  font-size: 14px;

  th {
    background-color: var(--bg);

    h3 {
      margin: 3px;
    }
  }
}

thead::after {
  content: "";
  display: block;
  width: 100%;
  background: var(--primary);
}

tr:hover {
  background-color: var(--bg);
}

td:first-child {
  width: 6%;
  text-align: center;
  padding: 0px;

  img {
    width: 65%;
    margin-top: 4px;
  }
}

td, th {
  border: 1px solid var(--shadow);
  padding: 8px;
}

.move {
  animation: bounce 0.9s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-80px);
  }
}


@media (max-width: 1199px){
  td:first-child {
    img {
      width: 28px;
      margin-top: 4px;
    }
  }
}

@media (max-width: 991px){
  td:first-child { 
    img {
      width: 32px;
      margin-top: 4px;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(-40px);
    }
  }
}

@media (max-width: 767px){
  table {
    font-size: 14px;
  }

  td:first-child { 
    img {
      width: 43px;
      margin-top: 4px;
    }
  }

    @keyframes bounce {
    0% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(-60px);
    }
  }
}
@media (max-width: 575px){
  table {
    font-size: 12px;
  }

  td:first-child { 
    img {
      width: 25px;
      margin-top: 4px;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(-40px);
    }
  }
}