#projects {
  @include center();
  width: 92%;
  height: 90%;
  background-color: var(--primary);
  border-radius: $radius;
  border: 2px solid var(--shadow);
  padding: 2 * $base-size;
  color: var(--text);
}

.flex-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 48px 0 12px 0;
  text-decoration: underline;
}

.sidebar {
  flex: 1 0 0;
  text-align: center;

  &:first-of-type ul > li  {
    padding: 8px;    
  }
}

.projects-wrapper {
  flex: 5 0 0;
  margin: 0 10px 0 10px;

  img {
    width: 25%;
    margin-bottom: 12px;
    object-fit: cover;
    border: 1px solid var(--shadow);
  }
}

.sidebar, .projects-wrapper {
  background: var(--bg);
  padding: $base-size;
  border: 1px solid var(--shadow);
  border-radius: $radius;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

a {
  text-decoration: none;
}

.authors {
  li {
    margin-bottom: 12px;
  }
}

.project {
  display: none;

  &.active {
    display: block;
    @include center();
  }
}

.project-title {
  margin-bottom: $base-size;
}

.project-author {
  font-style: italic;
}

.project-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

.tag-size-1 {
  font-size: 12px;
}

.tag-size-2 {
  font-size: 16px;
}

.tag-size-3 {
  font-size: 16px;
}

.tag-size-4 {
  font-size: 18px;
}

.tag-size-5 {
  font-size: 20px;
}

@media (max-width: 1199px){
  .project {
    font-size: 14px;
  }

  .sidebar {
    font-size: 14px;
  }

  .heading {
    font-size: 16px;
  }

  .tag-size-1 {
    font-size: 11px;
  }
  
  .tag-size-2 {
    font-size: 15px;
  }
  
  .tag-size-3 {
    font-size: 15px;
  }
  
  .tag-size-4 {
    font-size: 17px;
  }
  
  .tag-size-5 {
    font-size: 19px;
  }
}

@media (max-width: 991px){
  .project {
    font-size: 12px;
  }

  .sidebar {
    font-size: 12px;
  }

  .heading {
    font-size: 14px;
  }

  .tag-size-1 {
    font-size: 9px;
  }
  
  .tag-size-2 {
    font-size: 13px;
  }
  
  .tag-size-3 {
    font-size: 13px;
  }
  
  .tag-size-4 {
    font-size: 15px;
  }
  
  .tag-size-5 {
    font-size: 17px;
  }
}

@media (max-width: 767px){
  .projects-wrapper {
    margin: 4px 0 4px 0;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  .project {
    font-size: 12px;
    
    &.active {
      width: 85%;
    }
  }

  .sidebar {
    font-size: 12px;
  }

  .heading {
    font-size: 14px;
    margin-top: 8px;
  }

  .list li {
    display: inline;
  }
  
  #projects {
    padding: 10px;
  }

  .sidebar {
    flex: 1.5 0 0;

    &:first-of-type {
      .heading {
        margin-top: 36px;
      }
    }
  }
}

@media (max-width: 575px){
  .projects-wrapper {
    margin: 4px 0 4px 0;

    img {
      width: 30%;
      margin: 0;
    }
  }

  .flex-wrapper {
    flex-direction: column;
  }

  .project {
    font-size: 12px;
    
    &.active {
      width: 85%;
    }
  }

  .sidebar {
    font-size: 12px;
  }

  .heading {
    font-size: 14px;
  }

  .list {
    padding: 2px;
   
    li {
      display: inline;
    }
  }
  
  #projects {
    padding: 10px;
  }

  .sidebar {
    flex: 1.8 0 0;
    padding: 3px;

    .heading{
      margin: 0px;
    }

    &:first-of-type {
      .heading {
        margin-top: 4px;
        padding: 2px;
      }
    }
  }

  .project-title {
    margin: 0 0 4px 0;
  }
}